#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: sans-serif;
}

body {
  max-width: 1180px;
  background-color: #252a38;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #DCDCDC;

}

.post-page {
  width: 100%
}

ul {
  list-style-type: none;
}

.post-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  gap: 12px;
 
}

.post-image {
  width: 100%;
  object-fit: cover;
}

